@media (max-width: 35em) {
  .heading {
    padding: 4rem 5rem 3rem 5rem;
  }
}

@media (max-width: 28em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .to-do-list-container {
    margin: 5rem 1rem;
    width: 95vw;
  }

  .tasks-container {
    padding: 0 1.8rem;
  }
}

@media (max-width: 25em) {
  .heading {
    padding: 4rem 5rem 3rem 5rem;
  }

  .heading-text {
    font-size: 4rem;
  }

  .check-sign {
    width: 3rem;
  }
}
